.passwordField{
    width: 100%;
  }
   
  .bnPassword{
    position: relative;
  }
  
  .strengthMeter{
    top: -25px;
   height:7px !important;
        border: 1px solid
  }
  
  .outlinedField{
    width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: calc(100% - 2px);
    left: 0px;
    border-top: 1px solid;
    top: 50px;
  }